.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.banner-image {
  background-image: url("/assets/images/hero_surgery.png");
  background-size: cover;
  background-position: center;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -o-filter: grayscale(80%);
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  font-family: 'roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #f6f8f9;
}

.bg-color {
  background-color: rgba(33, 37, 41, 0.7);
}

.cover-text > h1 {
  font-family: 'Noto Serif Display', serif;
}

.cover-text {
  background: rgba(50, 52, 54, 0.4);
  }

.hearing-image {
    background-image: url("/assets/images/hearing.png");
    background-size: cover;
    background-position: center;
  }

  .padding-top {
    padding-top: 70px; 
  }

/* fix for overlying text on navbar - https://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site */

/* body { padding-top: 58px; 
  } */
  
  /* For images within divs, you need to set the width of the div first, 
so say 100vw, and then set the image width to be 100% of it's container */